@import "./files/bootstrap.rtl.min.css";
@import "./files/all.css";
@import "./files/varibles.scss";
@import "./files/fontello.css";

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: auto;
    src: url('/02- Farsi_Numerals/WebFonts/_eot/KalamehWeb(FaNum)-Regular.eot');
    src: url('/02- Farsi_Numerals/WebFonts/_Woff2/KalamehWeb(FaNum)-Bold.woff2') format('embedded-opentype'), /* IE6-8 */
    url('/02- Farsi_Numerals/WebFonts/_Woff/KalamehWeb(FaNum)-Regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/02- Farsi_Numerals/TTF/Kalameh(FaNum)-Bold.ttf') format('truetype');
}

@font-face {
    font-family: kalameh-bold;
    font-style: normal;
    font-weight: 800;
    src: url('/02- Farsi_Numerals/WebFonts/_eot/KalamehWeb(FaNum)-Regular.eot');
    src: url('/02- Farsi_Numerals/WebFonts/_Woff2/KalamehWeb(FaNum)-Bold.woff2') format('embedded-opentype'), /* IE6-8 */
    url('/02- Farsi_Numerals/WebFonts/_Woff/KalamehWeb(FaNum)-Regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/02- Farsi_Numerals/TTF/Kalameh(FaNum)-Bold.ttf') format('truetype');
}

body {
    font-family: 'kalameh' !important;
    direction: rtl;
    padding: 0;
    margin: 0;
    background-color: #F6F7FB;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}


* {
    box-sizing: border-box;
}

.b-text {
    font-family: 'kalameh-bold' !important;
}

.opacity-btn {
    opacity: 0.5 !important;
}

.prs-responsive {
    max-width: 1366px;
    margin: 0 auto;
}

.prs-responsive-2 {
    max-width: 1566px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

/*-------------progress-bar*/

.progress-bar {
    height: 4px;
    background: $base-color;
    width: 0%;
}

.progress-container {
    width: 100%;
    height: 4px;
    background: $base-color;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
}

#progressBar {
    background-color: $base-color;
    height: 4px;
}


/*-------------end*/


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    float: right;
    border-radius: 20px;
    padding: 1px;
    height: 20vh !important;
}

::-webkit-scrollbar-thumb {
    background-color: $base-color-second;
    border-radius: 20px;
    width: 5px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: $base-color-second;
}

.swiper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-regular {
    font-size: 14px;
}

.font-bold {
    font-family: 'Yekan-Bakh-xx' !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

.w-95 {
    width: 95%;
}

.w-90 {
    width: 90%;

}

.w-85 {
    width: 85%;
}

.f-28 {
    font-size: 28px;
}

.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 12px;
}

.wrap {
    flex-wrap: wrap;
}

.text-base {
    color: $base-color;
}

.bold-text {
    font-family: Yekan-Bakh-xx !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/*uikit*/
.btn-base-second {
    width: auto;
    padding: 0 1rem 0 3rem;
    color: $text-color;
    font-size: 14px;
    background-color: $white-color;
    position: relative;
    border: 2px solid $base-color;
    display: flex;
    font-family: kalameh !important;
    align-items: center;
    justify-content: center;
    height: 43px;
    transition: 0.5s all;

    &:hover {
        transition: 0.5s all;
        background-color: $base-color;
        color: $white-color;
    }

    &:before {
        content: url(/images/Down-Arrow-2.svg);
        position: absolute;
        left: 0;
        width: 2.5rem;
        height: 101%;
        background-color: $base-color-second;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.btn-base {
    width: auto;
    padding: 0 1rem 0 3rem;
    color: $white-color;
    border: 2px solid $base-color;
    background-color: $base-color;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    transition: 0.5s all;

    &:hover {
        transition: 0.5s all;
        color: $text-color;
        background-color: $white-color;
    }

    &:before {
        content: url(/images/Down-Arrow-2.svg);
        position: absolute;
        left: 0;
        width: 2.5rem;
        height: 101%;
        background-color: $base-color-second;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*end*/


//header-index-page
.header-desktop {
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 100;

    .p-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .logo-header {
            position: absolute;
            right: -12.5%;

            img {
                width: 70%;
            }
        }

        .r {
            width: 35%;
            padding: 0 3rem 0 0;

            .menu-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding: 0;

                li {
                    &:hover {
                        a {
                            color: $base-color;
                        }
                    }

                    a {
                        color: $text-color;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }

        .l {
            display: flex;
            align-items: center;

            .contact {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 2px;

                svg {
                    margin: 0 11px;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span {
                        font-size: 12px;
                        color: $text-color;
                        font-weight: 600;
                    }

                    strong {
                        color: $white-color;
                        font-size: 14px;
                        letter-spacing: 2px;
                        margin-top: 1px;
                    }
                }
            }

            .language {
                width: auto;
                padding: 0 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 38px;
                background: $base-color-second;
                flex-direction: row-reverse;
                border-radius: 10px;
                cursor: pointer;

                img {
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    font-weight: 600;
                    color: $text-color;
                    font-size: 13px;
                    margin: 0 4px;
                }

                i {
                    font-size: 12px;
                }
            }
        }
    }
}


//s1
.s1 {
    position: relative;
    width: 100%;
    padding-top: 7rem;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 700px;
        width: 54%;
        background: $base-color;
        border-radius: 0 0 50px 0;
        z-index: -1;
    }

    .p-s1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1rem;

        .details-etehad {
            width: 34%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h1 {
                font-size: 30px;
                color: $base-color;
                font-weight: 600;
            }

            p {
                margin: 2rem 0;
                line-height: 28px;
                color: $text-color;
                text-align: justify;
                font-size: 14px;
                font-weight: 600;
            }

            .btns-s1 {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                .btn-more-information {
                    width: 170px !important;
                }
            }
        }

        .slider-s1 {
            width: 60%;

            .swiper-s1 {
                width: 100%;
                padding: 1rem 0 4.5rem 0;
                border-radius: 20px;
                overflow: hidden;

                .swiper-button-next {
                    transform: translateY(250px);
                    height: 36px;
                    width: 36px;
                    border-radius: 12px;
                    background: $white-color;
                    left: 0 !important;
                    right: auto;

                    &:after {
                        font-size: 15px;
                        color: $text-color;
                    }
                }

                .swiper-button-prev {
                    transform: translateY(250px);
                    height: 36px;
                    width: 36px;
                    border-radius: 12px;
                    background: $white-color;
                    left: 47px !important;
                    right: auto !important;

                    &:after {
                        font-size: 15px;
                        color: $text-color;
                    }
                }

                .img-swiper-s1 {
                    border-radius: 20px;
                    width: 100%;
                    height: 480px;
                    object-fit: cover;
                }
            }
        }
    }
}


//s2
.s2 {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .p-s2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .svg-pattern {
            position: absolute;
            right: -10%;
            transform: scale(0.8);
        }

        .item {
            width: 20%;
            height: 236px;
            overflow: hidden;
            mask-image: url(/images/Path.svg);
            mask-size: cover;
            mask-repeat: no-repeat;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $white-color;
            justify-content: center;
            transition: $transtions;

            &:hover {
                background-color: $base-color;
                transition: $transtions;

                span {
                    color: $white-color;
                }
            }

            img {
                width: 30% !important;
            }

            span {
                font-weight: 600;
                margin-top: 1rem;
                color: $text-color;
            }

            .no-hover {
                position: absolute;
            }
        }

        .item-hover {
            width: 20%;
            height: 236px;
            overflow: hidden;
            mask-image: url(/images/Path-active.svg);
            mask-size: cover;
            mask-repeat: no-repeat;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 30% !important;
            }

            span {
                font-weight: 600;
                margin-top: 1rem;
                color: $text-color;
            }

            .no-hover {
                position: absolute;
            }
        }

    }
}


//s3
.s3 {
    margin-top: 5rem;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 32%;
        height: 500px;
        background-color: $base-color;
        border-radius: 20px 0 0 20px;
        z-index: -1;
    }

    .p-s3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 10;
        padding-top: 3rem;

        .title {

            h3 {
                font-weight: 600;
                font-size: 18px;
                color: $white-color;
                position: relative;

                &:after {
                    content: '';
                    width: 155px;
                    height: 3px;
                    border-radius: 20px;
                    background-color: #4B4B4B;
                    position: absolute;
                    right: 0;
                    top: 40px;
                }
            }
        }

        .slider-s3 {
            position: relative;
            padding-top: 1rem;

            .swiper-s3 {
                width: 100% !important;
                padding: 0 0 2rem 0;
            }

            .card-work-activity {
                width: 100%;
                position: relative;
                height: 280px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    .info-card-work-activity {
                        height: 100%;
                        transition: ease 0.6s;
                        justify-content: flex-start;
                        padding: 1rem 2rem;

                        h2 {
                            color: $base-color;
                        }
                    }

                    .information-more {
                        display: flex !important;
                        align-items: center;
                        font-weight: 600;
                        font-size: 14px;
                        margin-top: 1rem;
                        color: $text-color;

                        svg {
                            margin-right: 10px;
                        }
                    }

                    p {
                        font-size: 13px;
                        line-height: 28px;
                        color: $text-color;
                        margin: 2rem 0;
                        display: block !important;
                    }
                }

                .info-card-work-activity {
                    width: 90%;
                    background-color: $white-color;
                    padding: 0 2rem;
                    height: 55px;
                    border-radius: 10px;
                    flex-direction: column;
                    z-index: 10;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    transition: ease 0.6s;
                    justify-content: center;
                    transform: translateY(24px);

                    .information-more {
                        display: none;
                    }

                    p {
                        display: none;
                    }

                    h2 {
                        font-size: 15px;
                        color: $text-color;
                        font-weight: 600;
                        margin: 0;
                        padding: 0;
                    }
                }

                .img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
    }
}


//s4
.s4 {
    margin: 6rem 0 2rem 0;
    background-color: #F2F2F2;
    height: 440px;

    .p-s4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;

        .title {
            h2 {
                position: relative;
                font-weight: 600;
                font-size: 18px;
                color: $text-color;
                display: flex;
                justify-content: center;

                &:after {
                    content: "";
                    width: 155px;
                    height: 3px;
                    border-radius: 20px;
                    background-color: #4B4B4B;
                    position: absolute;
                    top: 40px;
                }
            }
        }

        .Certificate {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5rem;

            img {
                width: 48%;
            }
        }
    }
}

//customers
.s-customers {
    margin-top: 2rem;

    .p-customers {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            h2 {
                position: relative;
                font-weight: 600;
                font-size: 18px;
                color: $text-color;
                display: flex;
                justify-content: center;

                &:after {
                    content: "";
                    width: 155px;
                    height: 3px;
                    border-radius: 20px;
                    background-color: #4B4B4B;
                    position: absolute;
                    top: 40px;
                }
            }
        }

        .swiper-customers {
            padding: 5rem 0;

            .swiper-button-next {
                height: 36px;
                width: 36px;
                border-radius: 12px;
                background: $base-color;
                left: 47% !important;
                right: auto;
                transform: translateY(100px);

                &:after {
                    font-size: 15px;
                    color: $text-color;
                }
            }

            .swiper-button-prev {
                height: 36px;
                width: 36px;
                border-radius: 12px;
                background: $base-color;
                left: 51% !important;
                right: auto !important;
                transform: translateY(100px);

                &:after {
                    font-size: 15px;
                    color: $text-color;
                }
            }

            img {
                width: 65%;
            }
        }
    }
}


//blog-index
.s-blog-index {
    margin-top: 2rem;
    position: relative;

    .p-blog-index {
        .svg-pattern {
            position: absolute;
            right: 2%;
            transform: scale(0.8);
            top: -6%;
        }
        .title {
            h2 {
                position: relative;
                font-weight: 600;
                font-size: 18px;
                color: $text-color;
                display: flex;
                justify-content: center;

                &:after {
                    content: "";
                    width: 155px;
                    height: 3px;
                    border-radius: 20px;
                    background-color: #4B4B4B;
                    position: absolute;
                    top: 40px;
                }
            }
        }

        .blog-index-list {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin: 4rem 0 2rem 0;

            .right-blog {
                width: 48.5%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;

                &:hover {
                    h3 {
                        color: $base-color !important;
                    }
                }

                .img-blog {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 10px;
                }

                .box-blog-r {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 1rem;
                    width: 87%;
                    background-color: $white-color;
                    transform: translateY(-45px);
                    border-radius: 10px;

                    h3 {
                        font-size: 17px;
                        font-weight: 600;
                        color: $dark-color;
                    }

                    p {
                        font-size: 13px;
                        color: $text-color;
                        line-height: 28px;
                        text-align: justify;
                        margin-top: 1rem;
                    }

                    .footer-blog {
                        margin-top: 1rem;
                        padding: 15px 0 0 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-top: 2px solid #C6C6C6;

                        .date {
                            span {
                                margin: 0 10px;
                                color: #C6C6C6;
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }

                        .information-more {
                            display: flex !important;
                            align-items: center;
                            font-weight: 600;
                            font-size: 14px;
                            color: $text-color;

                            svg {
                                margin-right: 10px;
                                transform: translateY(2px);
                            }
                        }
                    }
                }
            }

            .left-blog {
                width: 48.5%;
                display: flex;
                flex-direction: column;

                .item-l-blog:not(:first-child) {
                    margin-top: 1.5rem;
                }

                .item-l-blog {
                    width: 100%;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &:hover {
                        .img {
                            width: 23%;
                            height: 140px;
                            position: relative;
                            border-radius: 10px;
                            overflow: hidden;

                            &:after {
                                content: url(/images/Link.svg);
                                background: #f7941dc4;
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .img-blog {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        h3 {
                            color: $base-color !important;
                        }
                    }

                    .img {
                        width: 23%;
                        height: 140px;
                        position: relative;
                        border-radius: 10px;
                        overflow: hidden;

                        .img-blog {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .box-blog-l {
                        width: 77%;
                        height: 120px;
                        border-radius: 10px;
                        background: $white-color;
                        z-index: 10;
                        transform: translateX(28px);
                        padding: 14px;

                        h3 {
                            font-size: 17px;
                            font-weight: 600;
                            color: $dark-color;
                            margin: 0;
                            padding: 0;
                        }

                        .footer-blog {
                            margin-top: 1.3rem;
                            padding: 15px 0 0 0;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-top: 2px solid #C6C6C6;

                            .date {
                                span {
                                    margin: 0 10px;
                                    color: #C6C6C6;
                                    font-weight: 600;
                                    font-size: 14px;
                                }
                            }

                            .information-more {
                                display: flex !important;
                                align-items: center;
                                font-weight: 600;
                                font-size: 14px;
                                color: $text-color;

                                svg {
                                    margin-right: 10px;
                                    transform: translateY(2px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//contact-index
.s-contact-index {


    .p-contact-index {
        position: relative;
        .svg-pattern {
            position: absolute;
            left: 0;
            transform: scale(0.8);
            bottom: -6%;
        }
        .title {
            h2 {
                position: relative;
                font-weight: 600;
                font-size: 18px;
                color: $text-color;
                display: flex;
                justify-content: center;

                &:after {
                    content: "";
                    width: 155px;
                    height: 3px;
                    border-radius: 20px;
                    background-color: #4B4B4B;
                    position: absolute;
                    top: 40px;
                }
            }
        }

        .contact-box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 4rem 0 2rem 0;

            .form {
                width: 48.5%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .inp-title-massage {
                    width: 100%;
                    margin-top: 20px;
                    border: 1px solid $border-color;
                    outline: none;
                    background: unset;
                    color: $border-color;
                    font-size: 14px;
                    height: 40px;
                    padding: 1rem;
                    font-weight: 600;
                }

                .textarea {
                    width: 100%;
                    margin-top: 20px;
                    border: 1px solid $border-color;
                    outline: none;
                    background: unset;
                    padding: 1rem;
                    color: $border-color;
                    font-size: 14px;
                    font-weight: 600;
                    height: 150px;
                }

                .inp-name, .inp-email {
                    width: 48.5%;
                    display: flex;
                    align-items: center;
                    border: 1px solid $border-color;
                    height: 40px;

                    label {
                        width: 18%;
                        height: 100%;
                        background: #EBEBEB;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i {
                            color: $border-color;
                            font-size: 13px;
                        }
                    }

                    input {
                        width: 80%;
                        border: none;
                        outline: none;
                        background: unset;
                        padding: 1rem;
                        color: $border-color;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }

                .p-submit-btn {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    a {
                        width: 150px !important;
                    }
                }
            }

            .map {
                height: 333px;
                border-radius: 10px;
                width: 48.5%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                position: relative;
                padding: 1rem;

                iframe {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                .box-address-map {
                    width: 100%;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    background-color: $white-color;
                    border-radius: 10px;
                    z-index: 10;

                    span {
                        padding: 0 10px;
                        color: $dark-color;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}


//footer
.footer {
    padding-top: 7rem;
    position: relative;

    &:after {
        content: '';
        width: 37%;
        border-radius: 30px 0 0 0;
        height: 452px;
        background-color: $base-color;
        position: absolute;
        right: 0;
        top: 20px;
        z-index: 10;
    }

    .footer-top {
        background-color: #151515;
        width: 100%;
        height: 360px;

        .p-footer-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 20;

            .child-one {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 30%;
                z-index: 15;
                position: relative;
                top: -45px;
                //social-media
                .wrapper {
                    display: inline-flex;
                    position: relative;
                }

                .wrapper i {
                    color: $base-color;
                    font-size: larger !important;
                }

                .wrapper i:hover {
                    color: #fff;
                }

                .wrapper .icon:hover {
                    color: #fff;
                }

                .wrapper .icon {
                    position: relative;
                    background-color: #e0e0e0;
                    border-radius: 50%;
                    padding: 15px 15px 10px 15px;
                    margin: 10px 4px;
                    width: 35px;
                    height: 35px;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;
                    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }

                .angle-up-icon {
                    padding-top: 8px !important;
                }

                .angle-up-icon:after {
                    color: var(--white);
                    font-size: 30px !important;
                    margin-top: 10px !important;
                    font-weight: 600;
                }

                .wrapper .tooltip {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #ffffff;
                    color: #ffffff !important;
                    padding: 5px 8px;
                    width: auto;
                    font-size: 13px;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    border-radius: 5px;
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }

                .wrapper .tooltip::before {
                    position: absolute;
                    content: "";
                    height: 8px;
                    width: 8px;
                    background-color: #ffffff;
                    bottom: -3px;
                    right: 8px;
                    transform: translate(-50%) rotate(45deg);
                    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }

                .wrapper .icon:hover .tooltip {
                    top: -45px;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }

                .wrapper .icon:hover span,
                .wrapper .icon:hover .tooltip {
                    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
                }

                .wrapper .facebook:hover,
                .wrapper .facebook:hover .tooltip,
                .wrapper .facebook:hover .tooltip::before {
                    background-color: #4B4B4B;
                    color: $dark-color;
                }

                .wrapper .twitter:hover,
                .wrapper .twitter:hover .tooltip,
                .wrapper .twitter:hover .tooltip::before {
                    background-color: #4B4B4B;
                    color: $dark-color;
                }

                .wrapper .icon-span {
                    font-weight: 500 !important;
                    margin-left: 7px;
                }

                .wrapper .instagram:hover,
                .wrapper .instagram:hover .tooltip,
                .wrapper .instagram:hover .tooltip::before {
                    background-color: #4B4B4B;
                    color: $dark-color;
                }

                .wrapper .instagram:hover i {
                    color: $dark-color;
                }

                .wrapper .github:hover,
                .wrapper .github:hover .tooltip,
                .wrapper .github:hover .tooltip::before {
                    background-color: #4B4B4B;
                    color: $base-color;
                }

                .wrapper .youtube:hover,
                .wrapper .youtube:hover .tooltip,
                .wrapper .youtube:hover .tooltip::before {
                    background-color: #4B4B4B;
                    color: $base-color;
                }

                p {
                    font-size: 13px;
                    line-height: 28px;
                    text-align: justify;
                    color: $text-color;
                    margin-top: 2rem;
                }
            }

            .child-two {
                width: 60%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding: 3rem 0 2rem 0;

                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 30%;

                    .title {
                        h4 {
                            font-weight: 600;
                            font-size: 16px;
                            color: $base-color;
                            position: relative;

                            &:after {
                                content: '';
                                position: absolute;
                                top: 28px;
                                right: 0;
                                width: 120px;
                                height: 2px;
                                border-radius: 30px;
                                background-color: $base-color;
                            }
                        }
                    }

                    .link-footer {
                        margin-top: 1rem;
                        padding: 12px 0 0 0;

                        li {
                            margin-top: 13px;

                            a {
                                color: $white-color;
                                transition: $transtions;
                                font-size: 14px;

                                &:hover {
                                    color: $base-color;
                                    transition: $transtions;
                                }
                            }
                        }
                    }
                }

                .item-second {
                    width: 50%;

                    .title {
                        h4 {
                            font-weight: 600;
                            font-size: 16px;
                            color: $base-color;
                            position: relative;

                            &:after {
                                content: '';
                                position: absolute;
                                top: 28px;
                                right: 0;
                                width: 120px;
                                height: 2px;
                                border-radius: 30px;
                                background-color: $base-color;
                            }
                        }
                    }

                    .p-information-company {
                        margin-top: 1rem;
                        padding: 12px 0 0 0;

                        li {
                            margin-top: 21px;
                            display: flex;
                            align-items: center;

                            span {
                                font-weight: 600;
                                font-size: 14px;
                                color: $white-color;
                                margin: 0 8px;
                            }
                        }
                    }

                }

                .enamad {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .enamad-item {
                        width: 100px;
                        height: 100px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $white-color;
                        margin-top: 16px;
                    }
                }
            }
        }
    }

    .footer-bottom {
        background-color: $base-color;
        height: 130px;
        padding: 1rem 0;

        .p-footer-bottom {
            border-top: 2px solid #4B4B4B;
            padding: 15px 0;
            height: 112px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .copyright {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                span {
                    font-size: 13px;
                    color: $text-color;
                }

                p {
                    font-size: 14px;
                    color: $text-color;
                    font-weight: 600;
                    margin: 4px 0 0 0;
                    padding: 0;
                }
            }

            .parnas {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0 12px;

                    span {
                        font-size: 13px;
                        color: $text-color;
                        font-weight: 600;
                    }

                    a {
                        color: $white-color;
                        font-size: 13px;
                        font-weight: 600;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
