$base-color: #F7941D;
$text-color:#3E3E3E;
$base-color-second: #F5B15E;
$light-color: #DDDDDD;
$light-color-second: #CBCBCB;
$gray-color: #4B4B4B;
$gray-color-second: #3E3E3E;
$gray-color-three: #707070;
$dark-color: #151515;
$white-color: #ffffff;
$title-size: 20px;
$transtions: 0.4s all;
$red-color: #D96060;
$box-shadow: #F0F0F0 0px 2px 8px 0px;
$border-color: #C6C6C6;
$opacity-box:#a8b0a524;

